/* Write your CSS here */
.randomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.heading {
  font-size: 32px;
  font-family: 'Roboto';
  color: #0b69ff;
}
.info {
  font-size: 18px;
  font-family: 'Roboto';
  color: #333333;
}
.button {
  width: 120px;
  height: 60px;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 18px;
}
.displayNumber {
  font-size: 24px;
  color: #0b69ff;
  font-weight: 700;
}
